@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'EB Garamond', serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}
#root,
#__next {
  isolation: isolate;
}

#root {
  --main-bg: #faf7ed;
  --accent-green: #008060;
  --text-basic: black;
  --text-green: #004c3e;
  --logo-green: #95bf46;
  --logo-green-dark: #5e8e3d;
  --accent-grey: #e8e9eb;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-view {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 100%;
}

.main-title {
  padding: 1rem;
  color: var(--main-bg);
  text-align: center;
  background-color: var(--text-green);
  width: 70vw;
  font-size: 2rem;
}

form {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--accent-green);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
}

.form-item {
  margin-top: 1rem;
}

textarea {
  resize: vertical;
  width: 45vw;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--text-green);
  box-shadow: 0 0 5px var(--text-green);
}

.submit-button {
  position: relative;
  align-self: flex-end;
  right: 2vw;
  background-color: var(--accent-green);
  border: 1px solid var(--text-green);
  border-radius: 0.3rem;
  color: var(--main-bg);
  cursor: pointer;
}

.submit-button:disabled {
  background-color: var(--accent-grey);
  color: rgba(0, 0, 0, 0.319);
  cursor: not-allowed;
  border: 1px solid var(--text-basic);
}
