@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'EB Garamond', serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

#root {
  --main-bg: #faf7ed;
  --accent-green: #008060;
  --text-basic: black;
  --text-green: #004c3e;
  --logo-green: #95bf46;
  --logo-green-dark: #5e8e3d;
}

.main-title {
  padding: 0.5rem;
  color: var(--text-green);
  border: 2px solid var(--accent-green);
  border-radius: 0.3rem;
  text-align: center;
  width: 60vw;
  margin-top: 1rem;
  font-weight: 400;
}

.App {
  background-color: var(--main-bg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
